{% extends "layout.html"%}
{% block style %}
<link rel="stylesheet"
href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
   #hideValuesOnSelect {
      display: none;
   }
</style>

{% endblock style %}

<!-- {% block title %} Dashboard {% endblock title %} -->

<!-- Specific CSS goes HERE -->
<!-- {% block stylesheets %}
<style type="text/css">
	#search {
		display: none!important;
	}
	.nav-top-wthree {
    margin: 1em 0;
    display: none;
}
</style>

{% endblock stylesheets %} -->

{% block content %}

<div class="container">
  <div class="images">
    <img src="{{ url_for('static', filename='abayacollection/' + collection.product_image) }}"/
   width="300" height="450"  style="width:500px;height:500px;">
  </div>
  
  
  <div class="product">
    <!-- <p>Women's Running Shoe</p> -->
    <h1>{{ collection.title }}</h1>
    <h2>Rs {{ collection.price }}</h2>
    {% if not current_user.user_type == 1 %}
      <br>
      <div class="p m-0" style="color:rgb(189, 189, 189);font-size: 15px;font-family:sans-serif;"width="250" height="250"><b>Tailor: </b> {{ collection.user.firstname }}</div><br>
      <p class="desc" style="font-size: 1em; color: $rose;letter-spacing: 1px">{{ collection.description }}</p>
      <div class="name">
        <p> <lable for="pa-size"> Size: </lable></p>
        
        <select id="mysize">
          {% for collectionsize in sizes %}
            <option value="{{ collectionsize.Length }},{{ collectionsize.width }},{{ collectionsize.Shoulder }},{{ collectionsize.Armhole }},{{ collectionsize.Sleeves }},{{ collectionsize.Chest }}">{{ collectionsize.title }}</option>
          {% endfor %}
        </select>
      

      

      <div class="quantity ">
    
    </div>
    {% else %}
      <p class="desc" style="font-size: 1em; color: $rose;letter-spacing: 1px">Created At: {{ collection.created_at.date() }}</p>
      <p class="desc" style="font-size: 1em; color: $rose;letter-spacing: 1px">{{ collection.description }}</p>

    {% endif %}
        
    <br> 
  </div>
{% if not current_user.user_type == 1 %}
    <form method="post">
      {{ form.hidden_tag() }}
      {% if collection.category == 1 %}
        <p> <lable for="pa-size"> Length:</lable>
        <input type='text' name="length" id="flength" placeholder="Length in cm" value="" required></p>
        <p> <lable for="pa-size"> Width: &nbsp</lable>
        <input type='text' name="width" id="fwidth" placeholder="Width in cm" value="" required></p>
        <input type='hidden' name="shoulder" id="fshoulder" placeholder="Shoulder in cm" value=""></p>
        <input type='hidden' name="armhole" id="farmhole" placeholder="Armhole in cm" value=""></p>
        <input type='hidden' name="sleeves" id="fsleeves" placeholder="Sleeves in cm" value=""></p>
        <input type='hidden' name="chest" id="fchest" placeholder="Chest in cm" value=""></p>
        <p> <lable for="pa-size">Quantity</lable>
        <input type='text' name="quantity" id="fquantity" placeholder="Quantity" value="" required></p>
      {% else %}
        <p> <lable for="pa-size">Length: &nbsp &nbsp</lable>
        <input type='text' name="length" id="flength" placeholder="Length in cm" value="" required></p>
        <input type="hidden" name="width" id="fwidth" placeholder="Width in cm" value=""></p>
        <p> <lable for="pa-size">Shoulder:&nbsp</lable>
        <input type='text' name="shoulder" id="fshoulder" placeholder="Shoulder in cm" value="" required></p>
        <p> <lable for="pa-size">Armhole: &nbsp</lable>
        <input type='text' name="armhole" id="farmhole" placeholder="Armhole in cm" value="" required></p>
        <p> <lable for="pa-size">Sleeves: &nbsp</lable>
        <input type='text' name="sleeves" id="fsleeves" placeholder="Sleeves in cm" value="" required></p>
        <p> <lable for="pa-size">Chest: &nbsp &nbsp&nbsp</lable>
        <input type='text' name="chest" id="fchest" placeholder="Chest in cm" value="" required></p>
        <p> <lable for="pa-size">Quantity: </lable>
        <input type='text' name="quantity" id="fquantity" placeholder="Quantity" value="" required></p>
      {% endif %}
     &nbsp <br>

      <button type="button" onclick="GetSelectedSize()">Get Customize Size</button>       

      
      <br>
      <div class="buttons">
        <button type="submit">Add to Cart</button>
      </div> 
    </form>


    <button id="myBtn">Size Guide</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
      
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="col-md-8">
              {% if collection.category == 1 %}
                <h1><br>Hijabs Size Guide</h1>
                <p>We have three hijab sizes available.<br><br>

                  Regular:<br>
                  - 2 yards length.<br>
                  - Covers chest well, depending on how its styled.<br>
                  - Can be used for Niqab (chiffon hijabs need to be doubled to make them non-sheer)<br><br>
                  Maxi:<br>
                  - 2.5 yards length.<br>
                  - Covers chest well, depending on how its styled.<br>
                  - It is great for Niqab (chiffon hijabs need to be doubled to make them non-sheer)<br><br>
                  
                  <!-- Square:<br>
                  - 58 inches by 58 inches.<br>
                  - Covers chest well, depending on how its styled.<br>
                  - Can be styled in multiple ways.<br><br> -->
                </p>

                <h2>Hijabs Size Guide</h2>
                <table style="width:100%">
                  <tr>
                    <th>Size</th>
                    <th>Length</th>
                    <th>Width</th>
                  </tr>
                  {% for guide in sizes %}
                    {% if guide.category == 1 %}
                      <tr>
                        <td>{{ guide.title }}</td>
                        <td>{{ guide.Length }}</td>
                        <td>{{ guide.width }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>
              
              {% else %}
                <h1>Abayas Size Guide</h1>
                <p>Measuring Tips to Assure The Best Fit<br><br>
                  How to Measure?<br>
                  Stand straight and ask someone to take your measurements with an inching tape. Alternatively, measure one of your existing abayas or a shirt that fits you well.<br><br>
                  
                  Length<br>
                  Measure from shoulder to the ankle or bottom of the dress (hem).<br><br>
                  
                  Shoulder<br>
                  Measure your shoulder width from joint-to-joint, from shoulder tip to shoulder tip.<br><br>
                  
                  Armhole<br>
                  Measure from your shoulder to your armpit. This is your armpit depth. Your armhole is roughly the double of this.<br><br>
                  
                  Chest<br>
                  With arms at sides, place tape measure under your arms and run it around the fullest part of the bustline and across the shoulder blades.<br><br>
                  
                  Sleeve<br>
                  Measure from the top of your shoulder joint (near the neck) and straight down your arm up until the length you would like your sleeve to reach.
                </p>

                <h2>Abayas Size Guide</h2>
                <table style="width:100%">
                  <tr>
                    <th>Size</th>
                    <th>Length</th>
                    <th>Shoulder</th>
                    <th>Armhole</th>
                    <th>Sleeves</th>
                    <th>Chest</th>
                  </tr>
                  {% for guide in sizes %}
                    {% if guide.category == 0 %}
                      <tr>
                        <td>{{ guide.title }}</td>
                        <td>{{ guide.Length }}</td>
                        <td>{{ guide.Shoulder }}</td>
                        <td>{{ guide.Armhole }}</td>
                        <td>{{ guide.Sleeves }}</td>
                        <td>{{ guide.Chest }}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </table>
              {% endif %}
        </div>
          
        </div>
      
      </div>

  {% block javascripts %}
      <script>

        function GetSelectedSize(){
            var e = document.getElementById("mysize");
            var size_label = e.options[e.selectedIndex].text;
            var size_values = e.options[e.selectedIndex].value.split(",");
            for (var i = 0; i < size_values.length; i++)
              if (size_values[i] == 'None')
                size_values[i] = 0;
            var length = size_values[0];
            var width = size_values[1];
            var shoulder = size_values[2];
            var armhole = size_values[3];
            var sleeves = size_values[4];
            var chest = size_values[5];
            
            
            
            document.getElementById("flength").setAttribute('value',length);
            document.getElementById("fwidth").setAttribute('value',width);
            document.getElementById("fshoulder").setAttribute('value',shoulder);
            document.getElementById("farmhole").setAttribute('value',armhole);
            document.getElementById("fsleeves").setAttribute('value',sleeves);
            document.getElementById("fchest").setAttribute('value',chest);
        }

        
        
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

  {% endblock %}


  {% endif %}

  
<footer>
  <br>

  <br>
  
  <p>made by <a href="{{ url_for('filter_tailor', filter_user=collection.user.id) }}"> {{ collection.user.firstname  }}</a> ♡
</footer>


{% endblock content %}



