{% extends "layout.html"%}
{% block content %}
	<h1> Contact Us</h1>
EZEL BY OMAMA | Modestly Chic
Trying to create a new shopping experience since 2020.


EZEL BY OMAMA started back in 2020 out of my own struggle as a student to find the perfect abayas and hijabs that were comfortable but still stylish. Clothing that made me feel good about following Allah’s command of observing “pardah” (modesty). Seeing the lack of options available in the market, I started the search for high quality fabrics and creating designs that were simple yet functional. I got some designs made and started marketing them on Facebook. A few of my friends liked what I wore and they were my very first orders. And this is how EZEL BY OMAMA was born. Now we are a fairly large community on both Instagram and Facebook and with the launch of our website we hope to achieve a lot more. Omama Anwar (Founder, CEO)</p>
<p>As EZEL BY OMAMA grows, we continue to improve and create modest apparel to meet the needs of the contemporary woman. From work appropriate abayas  and hijabs and travel wear, to dresses that can be styled formally for weddings we make it all. Every piece of clothing is designed to last you a long time and to stay with you for years. Our clothing is versatile,  yet timeless.
Our Goal
Our goal is to create pieces that make every woman feel confident about the way she chooses to dress up. We believe that modesty can be for everyone.

{% endblock content %}



