{% extends "layout.html"%}
{% block content %} 


<!-- Slider -->
             <section class="ftco-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero featured-carousel owl-carousel">
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center">
                                            <img src="{{ url_for('static', filename='home_slider/1.jpg')}}">
                                        </div>
                                    </div>
                                </div> 

                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center">
                                            <img src="{{ url_for('static', filename='home_slider/2.jpg')}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="work">
                                        <div class="img d-flex align-items-center justify-content-center">
                                            <img src="{{ url_for('static', filename='home_slider/3.jpg')}}">
                                        </div>
                                        <div class="navigation">
                                            <lable for="" class="bar">
                                            </lable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> 

            


<div class="page-body">
	<div class="row" style="padding-top: 0rem">
		{% for collection in all_collections %}
			<div class="col-md-4">

			    <!-- <div class="card mb-4 border-0">  -->
			       <div class="card-body" style="padding: 10px 5px;">
			          <div class="w-100 text-center">
			            <a href="{{ url_for('guest_collection_detail', collection_id=collection.id) }}">
			            	<p>
							<a href="{{ url_for('guest_collection_detail', collection_id=collection.id) }}">
							<img border="0"  src="{{ url_for('static', filename='abayacollection/' + collection.product_image) }}" width="280" height="280">
							</a>
								</p>
			            	<!-- <img src="{{ url_for('static', filename='abayacollection/' + collection.product_image) }}" width="250" height="250"></a> -->
			         
			         
			          <h1 class="h3 m-0" style="font-family:sans-serif;font-weight: 600;"><a style="color:black"; href="{{ url_for('guest_collection_detail', collection_id=collection.id) }}">{{ collection.title }}</a></h1>
			          <!-- <p class="p m-0" style="color:rgb(189, 189, 189);font-size: 15px;font-family:sans-serif;"><b>Price: </b> {{ collection.price }}</p> -->
                       <h1 class="h3 m-0" style="color:rgb(189, 189, 189);font-size: 15px;font-family:sans-serif;"><b>Price: </b> {{ collection.price }}</h1>
			          
			          
			       </div>
			    </div>
			 </div>
		 {% endfor %}
	</div>
</div>
{% endblock content %}